<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclimb.cate.dao.ListFoodMapper">
    <resultMap id="BaseResultMap" type="com.javaclimb.cate.domain.ListFood">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="food_id" jdbcType="INTEGER" property="foodId"/>
        <result column="food_list_id" jdbcType="INTEGER" property="foodListId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,food_id,food_list_id
    </sql>

    <insert id="insert" parameterType="com.javaclimb.cate.domain.ListFood">
        insert into list_food
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="foodId != null">
                food_id,
            </if>
            <if test="foodListId != null">
                food_list_id,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="foodId != null">
                #{foodId},
            </if>
            <if test="foodListId != null">
                #{foodListId},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.javaclimb.cate.domain.ListFood">
        update list_food
        <set>
            <if test="foodId != null">
                food_id = #{foodId},
            </if>
            <if test="foodListId != null">
                food_list_id = #{foodListId},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updVipStatusById">
        UPDATE food
        SET is_vip = #{isVip}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from list_food
        where id = #{id}
    </delete>

    <delete id="deleteByFoodIdAndFoodListId" parameterType="java.util.HashMap">
        delete
        from list_food
        where food_id = #{foodId}
          and food_list_id = #{foodListId}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from list_food
        where id=#{id}
    </select>

    <select id="allListFood" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from list_food
    </select>

    <select id="listFoodOfFoodListId" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select distinct
        <include refid="Base_Column_List"/>
        from list_food
        where food_list_id=#{foodListId}
        GROUP BY food_id
    </select>

</mapper>
















